import(methods)
import(stats)
import(blaster)
import(rstan)
import(ggplot2)
importFrom(stringdist, stringdistmatrix)
importFrom(stringdist, stringdist)
importFrom(stringdist, qgrams)
importFrom(utils, combn)
importFrom(utils, data)
importFrom(visNetwork, visIgraph)
importFrom(visNetwork, visNetwork)
importFrom(visNetwork, visIgraphLayout)
importFrom(visNetwork, visOptions)
importFrom(visNetwork, visLegend)
importFrom(visNetwork, `%>%`)
importFrom(grDevices, hcl.colors)
importFrom(grDevices, adjustcolor)
importFrom(future, plan)
importFrom(future, multisession)
importFrom(future.apply, future_lapply)
importFrom(reshape2, melt)
importFrom(reshape2, acast)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, as_data_frame)
importFrom(igraph, get.data.frame)
importFrom(igraph, delete_edges)
importFrom(igraph, delete_vertices)
importFrom(igraph, degree)
importFrom(igraph, V)
importFrom(igraph, is_igraph)
importFrom(igraph, "V<-")
importFrom(igraph, "E<-")
importFrom(igraph, E)
importFrom(igraph, add_edges)
importFrom(igraph, cluster_louvain)
importFrom(igraph, cluster_leiden)
importFrom(igraph, cluster_infomap)
importFrom(igraph, simplify)
importFrom(igraph, is_simple)
importFrom(igraph, subgraph)
importFrom(igraph, modularity)
importFrom(igraph, vertex_attr_names)
importFrom(igraph, edge_attr_names)
importFrom(igraph, components)
importFrom(igraph, edge_attr)
importFrom(igraph, vertex_attr)
importFrom(igraph, disjoint_union)
importFrom(igraph, diameter)
importFrom(igraph, which_multiple)

importFrom(posterior, as_draws)
importFrom(posterior, subset_draws)
importFrom(posterior, summarise_draws)
importFrom(dplyr, group_by)
importFrom(dplyr, summarise_all)
importFrom(dplyr, summarise_at)
importFrom(dplyr, summarise)
importFrom(dplyr, mutate)
importFrom(dplyr, "%>%")
importFrom(dplyr, arrange)
importFrom(dplyr, ungroup)
importFrom(dplyr, desc)
importFrom(dplyr, row_number)
importFrom(tidyr, complete)
importFrom(ggforce, geom_sina)
importFrom(scales, pretty_breaks)

importFrom(gglogo, geom_logo)
importFrom(gglogo,ggfortify)

importFrom(msa, msaClustalOmega)


export(clustirr)
export(plot_graph)
export(detect_communities)
export(dco)
export(get_beta_violin)
export(get_honeycombs)
export(get_ag_species_hits)
export(get_ag_gene_hits)
export(decode_community)
export(decode_all_communities)
export(get_community_purity)
export(get_cosine_similarity)
export(get_cdr3_motifs)

exportClasses(clust_irr)
exportMethods(get_clustirr_clust)
exportMethods(get_clustirr_inputs)

import(Rcpp)
importFrom(rstantools, rstan_config)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(ClustIRR, .registration = TRUE)
