import(methods)
import(stats)
import(blaster)
import(igraph)
importFrom(stringdist, stringdistmatrix)
importFrom(stringdist, stringdist)
importFrom(stringdist, qgrams)
importFrom(utils, combn)
importFrom(utils, data)
importFrom(visNetwork, visIgraph)
importFrom(visNetwork, visNetwork)
importFrom(visNetwork, visIgraphLayout)
importFrom(visNetwork, visOptions)
importFrom(visNetwork, visLegend)
importFrom(visNetwork, `%>%`)
importFrom(grDevices, hcl.colors)
importFrom(grDevices, adjustcolor)
importFrom(pwalign, stringDist)
importFrom(future, plan)
importFrom(future, multisession)
importFrom(future.apply, future_lapply)

export(cluster_irr)
export(get_graph)
export(get_joint_graph)
export(plot_graph)
export(get_communities)

exportClasses(clust_irr)
exportMethods(get_clustirr_clust)
exportMethods(get_clustirr_inputs)
