import(methods)
import(stats)
import(blaster)
importFrom(stringdist, stringdistmatrix)
importFrom(stringdist, stringdist)
importFrom(stringdist, qgrams)
importFrom(utils, combn)
importFrom(utils, data)
importFrom(visNetwork, visIgraph)
importFrom(visNetwork, visNetwork)
importFrom(visNetwork, visIgraphLayout)
importFrom(visNetwork, visOptions)
importFrom(visNetwork, visLegend)
importFrom(visNetwork, `%>%`)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, as_data_frame)
importFrom(igraph, get.data.frame)
importFrom(igraph, delete_edges)
importFrom(igraph, delete_vertices)
importFrom(igraph, degree)
importFrom(igraph, V)
importFrom(igraph, is_igraph)
importFrom(igraph, "V<-")
importFrom(igraph, "E<-")
importFrom(igraph, E)
importFrom(igraph, add_edges)
importFrom(grDevices, hcl.colors)
importFrom(pwalign, stringDist)

export(cluster_irr)
export(get_graph)
export(get_joint_graph)
export(plot_graph)

exportClasses(clust_irr)
exportMethods(get_clustirr_clust)
exportMethods(get_clustirr_inputs)
